* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.medidor {
  width: 200px;
  height: 200px;
  background: aqua;
  border-radius: 100px;
  top: -1000px;
}

p {
  align-items: center;
  position: relative;
}
